@import "~bpk-mixins";

.results {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;

  background-color: $bpk-color-white;

  background-color: #F2F1F4;
  height: auto;
  overflow: hidden;

  &__empty-state {
    color: #909090;
    margin-top: 16px;
    font-size: 14px;
  }
}
