@import "~bpk-mixins";

.top-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  background-color: $bpk-color-white;
  box-shadow: 0 0 10px 0 $bpk-color-gray-300;

  padding: 16px;
  height: 40px;

  &__wrapper {
    display: flex;
    flex-direction: row;
    width: 480px;

    &__header-link {
      display: flex;
      align-items: center;
      text-decoration: none;
      flex-grow: 0;

      span {
        margin-left: 10px;
      }
    }

    &__img {
      cursor: pointer;
      margin-left: auto;
    }
  }
}

.logo {
  vertical-align: middle;
}

.logo-text {
  color: #00B2D6;
  text-decoration: none;
}
