@import "~bpk-mixins";

.flights {
  display: flex;
  flex-direction: column;
  padding: 10px;

  &__header {
    margin-top: 10px;
    text-align: center;
    font-size: 18px;
    line-height: 24px;
  }
}
